.review-panels {

    .panels-item {
        background-color: get-color(dark, 3);

        border-top: 5px solid get-color(dark, 2);
        border-right: 5px solid get-color(dark, 2);
        border-radius: 20px;
        
        .panels-heading {
            display: flex;
            border-bottom: 1.5px solid black;
            padding-bottom: 15px;

            .panels-image {
                padding-top: 10px;
                padding-left: 10px;
            }

            .panels-title {
                padding-left: 20px;
                padding-right: 10px;

                > h4 {
                    max-height: 0;
                }
            }
        }

        .panels-description {
            display: flex;

            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            color: get-color(light, 1);

            .panels-qualities {
                padding-left: 20px;
            }
        }
    }
}