.review-panels {

    .panels-item {
        border-top: 5px solid get-color(dark, 2);
        border-right: 5px solid get-color(dark, 2);
        border-radius: 20px;
        
        .panels-heading {
            border-bottom: 3px solid grey;

            .panels-title {
                
                * {
                    max-height: 0;
                }
            }
        }

        .panels-description {
            display: flex;
            
            .panels-main-description {
                flex-grow: 1;
            }
            
        .panels-overlay {
            flex-grow: 1;

            .panels-qualities {
                
            }
            
            .affiliate-button {
                vertical-align: bottom;
                text-align: right;
                padding-right: 30px;
            }
        }
    }

        .dropdown-buttons {

        }
    }
}