.review-panels {

    .panels-item {
        border-top: 5px solid get-color(dark, 2);
        border-right: 5px solid get-color(dark, 2);
        border-radius: 20px;
        
        .panels-heading {
            border-bottom: 3px solid get-color(light, 3);
        }

        .affiliate-button  {
            text-align: right;
            padding-right: 30px;
        }

        .panels-description {
            display: flex;
            
            .panels-main-description {
                flex-grow: 1;
            }
            
            .panels-overlay {
                flex-grow: 1;
            }

        .highlight {
            display: inline-block;   
            padding-left: 3px;

            > b {
                border: 2px solid get-color(secondary, 3);
                background-color: get-color(secondary, 1);
                color: get-color(dark, 1);
                border-radius: 18px;
                padding: 5px 8px 5px 8px;
            }

            &.list-item {
                padding-left: 0;
                padding-right: 25px;
                padding-bottom: 15px;
            }
        }

        @include media("<=1024px") {

            .highlight {
                display: flex;
                padding-top: 5px;
                padding-left: 0;

                &.list-item {
                    display: inline-block;
                }
            }
        }

        @include media('<=medium') {
            
            .panels-overlay {
                
                .affiliate-button {
                    text-align: center;
                    padding-top: 30px;
                    padding-right: 0;
                    }
                }
            }
        }
    }
}