
.triangle {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  opacity: 1;
  
  border-top: 20px solid get-color(dark, 3);
}

.dropdown-arrow {  
  position: fixed;
  display: block;
  

  margin-left: 15px;
  margin-top: 25px;

  text-align: center;

}

