.modal {
  background: get-color(dark, 3);
  border-radius: 10px;

  .modal-header {
    border-bottom: 2px solid gray;
    text-align: center;
    padding: 10px;
  }

  .modal-content {
    padding: 10px 5px;
  }

  .modal-close-icon {
    cursor: pointer;
    position: absolute;
    padding: 1px 5px;
    font-size: 24px;
    max-height: 30px;
    right: -10px;
    top: -10px;
    border-radius: 18px;
  }
}