.list-item-label { 

    &:hover {
        border-bottom: 3px solid get-color(light, 3);
    }
}

.header-dropdown {
    width: 100%;
    height: 100%;
    background-color: get-color(dark, 2);
    border-bottom: 8px solid get-color(dark, 3);
    border-radius: 10px;

    .header-dropdown-content {
        
        .nav-title {
            border-left: 1px solid get-color(light, 3);
            padding-left: 10px;

        }
    }
}
