.dropdown-item {
    .dropdown-button{

        &:hover {
            background-color: color-bg(button-light-dark-hover);
        }

        .dropdown-title {
            flex-grow: 1;
            display: inline-flex;

            > span {
                flex-grow: 1;
                text-align: right;
            }
            
            .chevron {
                margin-top: 3px;
            }
        }
    }

    .dropdown-description {
        border-top: 3px solid get-color(light, 3);
    }

    @include media ( '<=medium' ) {
        
        .dropdown-description {
            text-align: center;
        }
    }
}
