.tiles-item {

    padding-left: 0;
    padding-right: 0;

    &.border {
        border: 1px solid grey;
    }

    &.tile-link {

        &:hover, &:active {

            background-color: lighten(get-color(dark, 1), 2%);
            border: 3px solid grey;
        }
    }
}