.review-panels {

	.section-inner {
		padding-top: $review-panels--padding-t__mobile;
		padding-bottom: $review-panels--padding-b__mobile;
	}

	.panels-wrap {

		@if ( $review-panels-items--padding__mobile != null ) {

			margin-right: -($review-panels-items--padding__mobile / 2);
			margin-left: -($review-panels-items--padding__mobile / 2);
			margin-top: -($review-panels-items--padding__mobile / 2);
		}

		&:last-of-type {
			margin-bottom: -($review-panels-items--padding__mobile / 2);
		}

		&:not(:last-of-type) {
			margin-bottom: ($review-panels-items--padding__mobile / 2);
		}

		&.push-left {

			&::after {
				flex-basis: $review-panels-item--width;
				max-width: $review-panels-item--width;

				@if ( $review-panels-items--padding__mobile != null ) {
					padding-left: $review-panels-items--padding__mobile / 2;
					padding-right: $review-panels-items--padding__mobile / 2;
				}
			}
		}
	}

	.panels-item {

		border: 1px solid white;
		
		flex-basis: $review-panels-item--width;
		max-width: $review-panels-item--width;
		margin-bottom: $review-panels--padding-b__mobile;

		@if ( $review-panels-items--padding__mobile != null ) {
			padding: $review-panels-items--padding__mobile / 2;
		}

		.panels-heading {

			.panels-image {
				border: 1px solid red;
				flex-basis: $review-panels-image--width;
				max-width: $review-panels-image--width;
				max-height: $review-panels-image--height;
	
			}
	
			.panels-title-name {
				border: 1px solid orange;
				flex-basis: $review-panels-title-name--width;
				max-width: $review-panels-title-name--width;
			}
		}

		.panels-description {

			.panels-main-description {
				border: 1px solid blue;
				flex-basis: $review-panels-main-description--width;
				max-width: $review-panels-main-description--width;
			}
			
			.panels-qualities {
				border: 1px solid yellow;
				flex-basis: $review-panels-qualities--width;
				max-width: $review-panels-qualities--width;
			}
		}
	}

	.panels-item-inner {
		padding-top: $review-panels-item--inner-padding-v;
		padding-bottom: $review-panels-item--inner-padding-v;
		padding-left: $review-panels-item--inner-padding-h;
		padding-right: $review-panels-item--inner-padding-h;
	}
}


@include media( '>medium' ) {

	.review-panels {

		.section-inner {
			padding-top: $review-panels--padding-t__mobile;
			padding-bottom: $review-panels--padding-b__mobile;
		}
	
		.panels-wrap {
	
			@if ( $review-panels-items--padding__mobile != null ) {
	
				margin-right: -($review-panels-items--padding__mobile / 2);
				margin-left: -($review-panels-items--padding__mobile / 2);
				margin-top: -($review-panels-items--padding__mobile / 2);
			}
	
			&:last-of-type {
				margin-bottom: -($review-panels-items--padding__mobile / 2);
			}
	
			&:not(:last-of-type) {
				margin-bottom: ($review-panels-items--padding__mobile / 2);
			}
	
			&.push-left {
	
				&::after {
					flex-basis: $review-panels-item--width;
					max-width: $review-panels-item--width;
	
					@if ( $review-panels-items--padding__mobile != null ) {
						padding-left: $review-panels-items--padding__mobile / 2;
						padding-right: $review-panels-items--padding__mobile / 2;
					}
				}
			}
		}
	
		.panels-item {
	
			flex-basis: $review-panels-item--width;
			max-width: $review-panels-item--width;
			margin-bottom: $review-panels--padding-b__mobile;

			@if ( $review-panels-items--padding__mobile != null ) {
				padding: $review-panels-items--padding__mobile / 2;
			}
	
			.panels-heading {
	
				.panels-image {
					border: 1px solid red;
					flex-basis: $review-panels-image--width;
					max-width: $review-panels-image--width;
					max-height: $review-panels-image--height;
		
				}
		
				.panels-title-name {
					border: 1px solid orange;
					flex-basis: $review-panels-title-name--width;
					max-width: $review-panels-title-name--width;
				}
			}
	
			.panels-description {

				.panels-main-description {
					border: 1px solid blue;
					flex-basis: $review-panels-main-description--width;
					max-width: $review-panels-main-description--width;
				}
				
				.panels-qualities {
					border: 1px solid yellow;
					flex-basis: $review-panels-qualities--width;
					max-width: $review-panels-qualities--width;
				}
			}
		}
	}
}
