.review-panels {

	.panels-item-inner {
		padding-top: $review-panels-item--inner-padding-v;
		padding-bottom: $review-panels-item--inner-padding-v;
		padding-left: $review-panels-item--inner-padding-h;
		padding-right: $review-panels-item--inner-padding-h;
	}

	.panels-wrap {

		@if ( $review-panels-items--padding__mobile != null ) {

			margin-right: -($review-panels-items--padding__mobile / 2);
			margin-left: -($review-panels-items--padding__mobile / 2);
			margin-top: -($review-panels-items--padding__mobile / 2);
		}

		&:last-of-type {
			margin-bottom: -($review-panels-items--padding__mobile / 2);
		}

		&:not(:last-of-type) {
			margin-bottom: ($review-panels-items--padding__mobile / 2);
		}
	}

	.panels-item {
		background-color: $review-panels--background-color;
		flex-basis: $review-panels-item--width;
		max-width: $review-panels-item--width;
		margin-bottom: $review-panels--padding-b__mobile;

		@if ( $review-panels-items--padding__mobile != null ) {
			padding: ($review-panels-items--padding__mobile / 2);
		}

		.panels-heading {
			display: flex;
			padding-bottom: $review-panels-header--padding__desktop;

			.panels-image {
				flex-basis: $review-panels-image--width;
				max-width: $review-panels-image--width;
				max-height: $review-panels-image--height;
			}
	
			.panels-title {
				flex-basis: $review-panels-title--width;
				max-width: $review-panels-title--width;
				max-height: $review-panels-title--height;
				padding-left: $review-panels-item--inner-padding-h;
				padding-right: $review-panels-item--inner-padding-h;

				* {
					margin-top: $review-panels-items--padding__mobile;
				}
			}
		}

		.panels-description {
			padding-top: $review-panels-header--padding__desktop;

			.panels-main-description {
				flex-basis: $review-panels-main-description--width;
				max-width: $review-panels-main-description--width;
			}
			
			.panels-overlay {

				.panels-qualities {
					flex-basis: $review-panels-qualities--width;
					max-width: $review-panels-qualities--width;
				}

				.affiliate-button {
					flex-basis: $review-panels-affiliate-button--width;
					max-width: $review-panels-affiliate-button--width;
				}
			}
		}
	}
}


@include media( '>medium' ) {

	.review-panels {
	
		.panels-wrap {

			@if ( $review-panels-items--padding__mobile != null ) {
	
				margin-right: -($review-panels-items--padding__mobile / 2);
				margin-left: -($review-panels-items--padding__mobile / 2);
				margin-top: -($review-panels-items--padding__mobile / 2);
			}
	
			&:last-of-type {
				margin-bottom: -($review-panels-items--padding__mobile / 2);
			}
	
			&:not(:last-of-type) {
				margin-bottom: ($review-panels-items--padding__mobile / 2);
			}
		}
	
		.panels-item {
			background-color: $review-panels--background-color;
			flex-basis: $review-panels-item--width;
			max-width: $review-panels-item--width;
			margin-bottom: $review-panels--padding-b__mobile;
	
			@if ( $review-panels-items--padding__mobile != null ) {
				padding: ($review-panels-items--padding__mobile / 2);
			}
	
			.panels-heading {
				display: flex;
				padding-bottom: $review-panels-header--padding__desktop;
	
				.panels-image {
					flex-basis: $review-panels-image--width;
					max-width: $review-panels-image--width;
					max-height: $review-panels-image--height;
				}
		
				.panels-title {
					flex-basis: $review-panels-title--width;
					max-width: $review-panels-title--width;
					max-height: $review-panels-title--height;
					padding-left: $review-panels-item--inner-padding-h;
					padding-right: $review-panels-item--inner-padding-h;
	
					* {
						margin-top: $review-panels-items--padding__mobile;
					}
				}
			}
	
			.panels-description {
				padding-top: $review-panels-header--padding__desktop;
	
				.panels-main-description {
					flex-basis: $review-panels-main-description--width;
					max-width: $review-panels-main-description--width;
				}
				
				.panels-overlay {
	
					.panels-qualities {
						flex-basis: $review-panels-qualities--width;
						max-width: $review-panels-qualities--width;
					}
	
					.affiliate-button {
						flex-basis: $review-panels-affiliate-button--width;
						max-width: $review-panels-affiliate-button--width;
					}
				}
			}
		}
	}
}