.review-panels {

	.section-inner {
		padding-top: $review-panels--padding-t__mobile;
		padding-bottom: $review-panels--padding-b__mobile;
	}

	.panels-wrap {

		@if ( $review-panels-items--padding__mobile != null ) {

			margin-right: -($review-panels-items--padding__mobile / 3);
			margin-left: -($review-panels-items--padding__mobile / 3);
			margin-top: -($review-panels-items--padding__mobile / 3);
		}

		&:not(:last-of-type) {
			margin-bottom: ($review-panels-items--padding__mobile / 2);
		}
	}

	.panels-item {

		flex-basis: $review-panels-item--width;
		max-width: $review-panels-item--width;

		@if ( $review-panels-items--padding__mobile != null ) {
			padding: $review-panels-items--padding__mobile / 2;
		}

		.image {
			flex-basis: $review-panels-image--width;
			max-width: $review-panels-image--width;
			max-height: $review-panels-image--height;

		}

		.title-name {
			flex-basis: $review-panels-title-name--width;
			max-width: $review-panels-title-name--width;


		}
	}

	.panels-item-inner {
		padding-top: $review-panels-item--inner-padding-v;
		padding-bottom: $review-panels-item--inner-padding-v;
		padding-left: $review-panels-item--inner-padding-h;
		padding-right: $review-panels-item--inner-padding-h;
	}
}

.cta-slogan {
	margin-bottom: $review-panels-slogan--padding-v__mobile;
}

@include media( '>medium' ) {

	.features-tiles {

		.section-inner {
			padding-top: $features-tiles--padding-t__desktop;
			padding-bottom: $features-tiles--padding-b__desktop;
		}

		.section-header {
			padding-bottom: $features-tiles-header--padding__desktop;
		}

		@if ( $features-tiles-items--padding__desktop != null ) {

			.tiles-wrap {
				margin-right: -($features-tiles-items--padding__desktop / 2);
				margin-left: -($features-tiles-items--padding__desktop / 2);
				margin-top: -($features-tiles-items--padding__desktop / 2);

				&:last-of-type {
					margin-bottom: -($features-tiles-items--padding__desktop / 2);
				}

				&:not(:last-of-type) {
					margin-bottom: ($features-tiles-items--padding__desktop / 2);
				}

				&.push-left {

					&::after {
						padding-left: $features-tiles-items--padding__desktop / 2;
						padding-right: $features-tiles-items--padding__desktop / 2;
					}
				}
			}

			.tiles-item {
				padding: $features-tiles-items--padding__desktop / 2;
			}
		}
	}
}
