// Review panels (core/sections/_review-panels.scss)
$review-panels--padding-t__mobile: 			    null;		// review panels, top padding (mobile)
$review-panels--padding-b__mobile: 			    null;		// review panels, bottom padding (mobile)
$review-panels--padding-t__desktop: 		    null;		// review panels, top padding (desktop)
$review-panels--padding-b__desktop: 			null;		// review panels, bottom padding (desktop)

$review-panels-header--padding__mobile: 	    null;		// review panels header, bottom padding (mobile)
$review-panels-header--padding__desktop:	    null;		// review panels header, bottom padding (desktop)

$review-panels-items--padding__mobile: 	        null;		// padding between review panels items (mobile)
$review-panels-items--padding__desktop: 	    null;		// padding between review panels items (desktop)

$review-panels-slogan--padding-v__mobile: 	    40px;		// cta slogan, margin bottom (mobile)
$review-panels-slogan--padding-v__desktop: 	    null;		// cta slogan, margin bottom (desktop)
$review-panels-slogan--padding-h__desktop:	    48px;		// cta slogan, minimum distance between slogan and actions (only .cta-split desktop)
